@font-face {
  font-family: "Chakra Petch";
  src: url("/assets/fonts/ChakraPetch-Regular.ttf") format('truetype');
}

@keyframes bg-animation {
  from {
    background-position: bottom;
    background-size: 3000px;
  }
  to {
    background-position: top;
    background-size: 3000px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Chakra Petch";
}

.container {
  background-color: #e8e5e2;
}

header {
  height: 100vh;
}

.bg-image {
  z-index: 2;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba(2, 5, 4, 0.5),
      rgba(2, 7, 5, 0.5)
    ),
    url("/assets/images/matrix.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  animation: bg-animation 60s infinite linear;
  animation-iteration-count: infinite;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

span {
  z-index: 2;
  color: white;
  position: absolute;
  display: flex;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}

img[alt="Danil"] {
  z-index: 2;
  position: absolute;
  height: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  z-index: 1;
  position: fixed;
  width: 10%;
  top: 25%;
  left: 0;
  background-color: white;
  border: 1px solid black;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

main {
  border: 1px solid black;
  height: 50vh;
}

footer {
  border: 1px solid black;
  height: 100vh;
}
