@font-face {
  font-family: "Chakra Petch";
  src: url("/assets/fonts/ChakraPetch-Regular.ttf") format("truetype");
}

@keyframes bg-animation {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

/* ABOUT ME SECTION RESPONSE BY SCREEN SIZE START */
@media screen and (min-width: 768px) {
  .bg-image {
    background-size: 3000px;
  }
  .about-me {
    margin: 0px 80px 50px;
    font-weight: 700;
    font-size: 24px;
  }
  footer {
    letter-spacing: 3px;
    line-height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .bg-image {
    background-size: 1500px;
  }

  .about-me {
    margin: 0px 60px 50px;
    font-size: 16px;
  }
}
/* ABOUT ME SECTION RESPONSE BY SCREEN SIZE END */

@keyframes skills-appears {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Chakra Petch";
  background-color: #e8e5e2;
}

header {
  height: 100vh;
}

.bg-image {
  z-index: 2;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba(2, 5, 4, 0.6),
      rgba(2, 7, 5, 0.6)
    ),
    url("/assets/images/13082021-RETRO-4K.png");
  height: 100vh;
  background-repeat: no-repeat;
  animation: bg-animation 80s infinite linear;
  animation-direction: alternate;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  box-shadow: 2px 2px black;
}

header span {
  z-index: 2;
  color: white;
  position: absolute;
  display: flex;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 5px black;
}

img[alt="Danil"] {
  filter: drop-shadow(0 0 0.35rem black);
  z-index: 2;
  position: absolute;
  height: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}
/* CONTACT ME NAV LINKS START*/
nav {
  z-index: 1;
  position: fixed;
  top: 25%;
  left: 0;
  background-color: rgba(2, 5, 4, 0.5);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.show-up {
  position: absolute;
  left: -90px;
  transition: left 0.5s;
  clip-path: polygon(
    15% 20%,
    100% 20%,
    100% 80%,
    15% 80%,
    15% 65%,
    0 50%,
    15% 35%
  );
  color: white;
}

a:hover > .show-up {
  left: 60px;
  text-align: center;
}

.linkedin {
  background-color: #3350e0;
  width: 70px;
  padding-left: 10px;
}

.github {
  background-color: #9c7a5b;
  width: 60px;
  padding-left: 8px;
}

.email {
  background-color: #fc5a5a;
  width: 50px;
  padding-left: 7px;
}

a {
  display: block;
  position: relative;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 50px;
}

li:nth-of-type(1):hover {
  background-color: #3350e0;
  border-top-right-radius: 5px;
}

li:nth-of-type(2):hover {
  background-color: #9c7a5b;
}

li:nth-of-type(3):hover {
  background-color: #fc5a5a;
  border-bottom-right-radius: 5px;
}
/* CONTACT ME NAV LINKS END*/

main {
  height: fit-content;
}

.head-about-me {
  text-align: center;
  margin-bottom: 0px;
  font-size: 56px;
  font-weight: 900;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 65vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9)
    ), url(/assets/images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg);
    color: white;
}

.skill-header {
  text-decoration: underline;
}

.skills p {
  padding: 0px 10px;
}

.hard-skills > span,
.soft-skills > span {
  font-size: xx-large;
  font-weight: bold;
  border-width: 8px;
  border-style: solid;
  border-image: linear-gradient(to right bottom, #f000ff,#001eff)1;
  background-image: linear-gradient(to right bottom, #001eff,#f000ff);
}

.hard-skills {
  width: 50%;
  float: left;
  height: 10%;
  transition: 1s;
  margin-top: 50px;
}

.hard-skills-grid,
.soft-skills-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.skills > i {
  color: #302323;
}

.soft-skills-grid div,
.hard-skills-grid div {
    box-sizing: border-box;
  height: 270px;
  width: fit-content;
  margin: 10px;
  font-size: x-large;
  text-align: left;
  border: 2px solid rgb(216, 189, 189);
  border-radius: 10px;
}

.soft-skills-grid div p,
.hard-skills-grid div p {
  margin-top: 0px;
}

.hard-skills div {
  transform: scale(0);
  transition: 0.5s;
}

.hard-skills span,
.soft-skills span {
  margin-left: 5px;
  font-weight: bold;
}

.hard-skills:hover,
.soft-skills:hover {
  height: 100%;
}

.soft-skills {
  width: 50%;
  height: 10%;
  float: right;
  transition: 1s;
  margin-top: 50px;
}

.soft-skills div {
  transform: scale(0);
  transition: 1s;
}

.soft-skills:hover div,
.hard-skills:hover div {
  transform: scale(1);
}

.hard-skills:hover {
  margin-left: 5%;
  width: 100%;
}

.soft-skills:hover {
  margin-right: 5%;
  width: 100%;
}

footer {
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: rgba(2, 5, 4, 0.8);
  color: white;
}
