@font-face {
  font-family: "Bebas-Neue";
  src: url(/assets/fonts/BebasNeue-Regular.ttf);
}

body {
  padding: 0px;
  margin: 0px;
  background: #141414;
  font-family: "Bebas-Neue";
  overflow-x: hidden;
}

nav {
  width: 100vw;
  height: 8vh;
  position: fixed;
  background-image: linear-gradient(rgb(20, 20, 20, 0.9), transparent);
  transition: 0.5s;
  display: flex;
  z-index: 11;
  height: fit-content;
}

nav.active {
  width: 100vw;
  height: fit-content;
  position: fixed;
  background-color: rgb(20, 20, 20);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  width: 100vw;
  padding: 0px 4vw;
}

.navigation {
  display: inline-flex;
  flex-direction: row;
}

.top-nav-bar {
  display: inline-flex;
  list-style-type: none;
  align-items: center;
  letter-spacing: 1px;
  font-size: 1.5vw;
  padding-left: 2vw;
}

.top-nav-bar li {
  margin-right: 10px;
}

img[alt="netflix"] {
  height: 3vw;
  margin-top: 1.5%;
}

.user {
  width: 15vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user a {
  text-decoration: none;
  color: white;
}

.avatar {
  width: 30px;
  border-radius: 5px;
}

.fa-caret-down {
  position: relative;
  top: 15px;
  height: 0px;
  transition: 0.3s;
}

.user span {
  display: flex;
}

.user span i {
  margin-left: 10px;
}

input {
  position: absolute;
  right: 19vw;
  display: none;
  border: 1px solid white;
  background-color: black;
  color: white;
  height: 50%;
}

#hover-div {
  flex-direction: column;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  position: absolute;
  top: 80px;
  height: fit-content;
  width: 200px;
  padding: 10;
}

#hover-div a {
  color: white;
}

.users,
.settings {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

#hover-div ul {
  padding: 5px 10px 0px 10px;
  margin: 0px;
}

#hover-div ul span {
  font-size: medium;
  font-weight: 100;
}

.head-users img {
  border-radius: 5px;
}

#hover-div .head-users span {
  position: relative;
  left: 15px;
  bottom: 10px;
}

#hover-div .head-setting span {
  position: relative;
  left: 10px;
}

.drop-down-menu img {
  height: 32px;
  width: 32px;
}

.drop-down-menu i {
  padding-left: 5px;
  height: 32px;
  width: 32px;
  text-align: start;
}

.drop-down-menu span {
  display: inline-flex;
  position: relative;
  left: 50px;
}

.sign-out {
  line-height: 40px;
}

main {
  height: 150vh;
  position: relative;
}

.video-container {
  position: relative;
}

.vignette-layer {
  position: absolute;
  width: 100vw;
  height: 10vw;
  top: 80%;
  background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
  z-index: 1;
}

.video-container #video-btn {
  display: flex;
  color: white;
  position: absolute;
  bottom: 20%;
  right: 0;
  flex-direction: row;
  font-size: 2vw;
}

#video-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.volume,
.replay {
  all: unset;
}

.switch-btn {
  align-items: center;
  padding-right: 1vw;
}

.fa-import {
  padding: 1vw;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.fa-volume-high {
  display: block;
}

.replay {
  display: none;
}

.pegi {
  border-left: 1px solid #fff;
  background: rgb(20, 20, 20, 0.4);
  width: 8vw;
  height: fit-content;
}

.pegi span {
  margin-left: 1vw;
}

#image-trailer {
  width: 100%;
  height: 100%;
  display: none;
  transition: 0.5s;
  
}

#image-trailer > img {
  width: 100%;
  height: 100%;
}



hr {
  border-top: 1px solid #ccc;
  margin: 0px;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

#about-movie {
  position: absolute;
  display: block;
  top: 25%;
  margin-left: 5%;
  z-index: 10;
  width: 50vw;
}

.name-description img {
  width: 35%;
  filter: drop-shadow(3px 3px 2px #666666);
}

.name-description span {
  display: block;
  width: 40vw;
  font-size: 2vw;
  color: black;
}

.btn-movie {
  margin-top: 20px;
}

.btn-movie span {
  margin-left: 5px;
}

.btn {
  font-weight: 600;
  width: 9vw;
  padding: 1.2vw;
  font-size: 1.2vw;
  box-sizing: content-box;
  border: none;
  border-radius: 5px;
  z-index: 10;
}

.play:hover {
  background-color: rgba(109, 109, 110, 0.6);
  cursor: pointer;
}

.info {
  cursor: pointer;
  margin-left: 1vw;
  background-color: rgba(109, 109, 110, 0.7);
  color: #fff;
}

.info:hover {
  background-color: rgba(109, 109, 110, 0.3);
}

#shows {
  white-space: nowrap;
  position: relative;
  bottom: 4vw;
  z-index: 2;
}

.scroll-page-shows {
  display: flex;
  align-items: start;
}

.movies-list-1 > img,
.movies-list-2 > img {
  width: 18vw;
  margin-left: 0.4vw;
}

.movies-list-1 {
  position: relative;
  transform: translateX(3vw);
  transition: 0.8s;
}

.movies-list-1.active {
  transform: translateX(-90vw);
}

.movies-list-2 {
  position: relative;
  transform: translateX(3.2vw);
  transition: 0.8s;
}

.movies-list-2.active {
  transform: translateX(-89.5vw);
}

.scroll-btn {
  position: absolute;
  height: 10.3vw;
  width: 2.7vw;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  transition: 0.3s;
}

.previous-list {
  left: 0;
}

.next-list {
  right: 0;
}

.scroll-btn:hover {
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: x-large;
}

h2 {
  color: white;
  position: absolute;
  bottom: 9vw;
  left: 2vw;
  font-weight: 100;
}
