@font-face {
  font-family: 'Bebas-Neue';
  src: url(/assets/fonts/BebasNeue-Regular.ttf);
}

body {
  padding: 0px;
  margin: 0px;
  /* background-color: #141414; */
  font-family: 'Bebas-Neue';
}

nav {
  width: 100vw;
  height: 10vh;
  position: fixed;
  background-image: linear-gradient(rgb(20, 20, 20, 0.5), transparent);
  transition: 0.5s;
}

.nav {
  display: flex;
}

nav.active {
  width: 100vw;
  height: 10vh;
  position: fixed;
  background-color: rgb(20, 20, 20);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  width: 100vw;
  padding: 0px 4vw;
}

.navigation {
  display: inline-flex;
  flex-direction: row;
}

.top-nav-bar {
  display: inline-flex;
  list-style-type: none;
  align-items: center;
}

.top-nav-bar li {
  margin-right: 10px;
}

img[alt='netflix'] {
  height: 40px;
  margin-top: 2vh;
}

.user {
  width: 15vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user a {
  text-decoration: none;
  color: white;
}

.avatar {
  width: 30px;
  border-radius: 5px;
}

.fa-caret-down {
    position: relative;
    top: 15px;
    height: 0px;
}

.user span {
  display: flex;
}

.user span i {
  margin-left: 10px;
}

input {
  display: none;
}

#hover-div {
  display: flex;
  position: absolute;
  top: 80px;
  height: fit-content;
  width: 200px;
  padding: 10;
}

#hover-div a {
  color: white;
}

#hover-div {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
}

.users, .settings {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

#hover-div ul {
    padding: 5px 10px;
    margin: 0px;
}

#hover-div ul span {
    font-size: small;
    font-weight: 100;
}

.head-users img {
    border-radius: 5px;
}

#hover-div .head-users span {
    position: relative;
    left: 15px;
    bottom: 10px;
}

#hover-div .head-setting span {
    position: relative;
    left: 10px;
}

.drop-down-menu img {
  height: 32px;
  width: 32px;
}

.drop-down-menu i {
    padding-left: 5px;
    height: 32px;
    width: 32px;
    text-align: start;
  }

.drop-down-menu span{
  display: inline-flex;
  position: relative;
  left: 50px;
}

.sign-out {
    line-height: 40px;
}

main {
  height: 150vh;
}

hr {
  border-top: 1px solid #ccc;
  margin: 4px 0px;
}
