:root {
  --light: #fdf7c3;
  --darkerLight: #ffdeb4;
  --dark: #ffb4b4;
  --darkest: #b2a4ff;
}

@font-face {
  font-family: 'Rubik';
  src: url(/assets/fonts/Rubik-VariableFont_wght.ttf);
}

html {
  padding: 0;
  margin: 0;
  font-family: 'Rubik';
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--light);
}

h1 {
  text-align: center;
  color: var(--darkest);
  text-shadow: 4px 4px 8px var(--dark);
}

input,
button {
  background: none;
  border: none;
  outline: none;
}

.btn {
  height: 5vw;
  width: 10vw;
  margin-left: 1vw;
  border-radius: 5px;
  border: none;
  font-size: 2vw;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: var(--dark);
}

.todo-input {
  background-color: var(--darkerLight);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
.user-input {
  height: 3vw;
  background-color: var(--darkerLight);
  border: none;
  border-radius: 5px;
}

.todo-counters {
    margin-top: 4vh;
    text-align: center;
}

.todo-counters > span {
    border: 1px solid black;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
}

li {
  background-color: var(--dark);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 55vw;
  height: 5vw;
  margin-top: 1vh;
  border: 2px solid var(--darkerLight);
  border-radius: 5px;
}

li.checked {
    opacity: 0.5;
}

.todos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

li > input,
li > button {
  font-size: 2vw;
  transition: 0.2s;
}

li > button:hover {
    height: 5vw;
    width: 10vw;
    margin-left: 1vw;
    border-radius: 5px;
    border: none;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--darkerLight);
}